
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div> 
        <h3 style="color:red">Page can not found, please check URL.</h3>
    </div>
</body>
</html>
