@{
    ViewBag.Title = "About";
}

<br>
<br>
<h4 style="text-align:center">Republic of the Philippines <br><strong>DEPARTMENT OF FOREIGN AFFAIRS</strong></h4>

<br>



<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <br>
        <img src="~/Images/passport.png" alt="Site Logo" style="height:30em; width: 35em" />
    </div>
    <div class="col-md-6">
        <h5><strong>IMPORTANT REMINDERS</strong></h5>

        <p style="text-align:justify">

            Alteration, addition, or destruction of contents is strictly prohibited. Any unauthorized change will render a passport invalid and will have accompanying penalties.

            Using the passport as collateral is against the law and will automatically render the passport cancelled.

            The information provided in the passport application form must be true and correct. The documents that will be submitted should be complete and authentic. Under the law, making false statements in the passport application form, furnishing falsified or forged documents in support thereof are punishable by law.
        </p>

        <br>
        <h5><strong>ADDITIONAL REQUIREMENTS</strong></h5>

        ■ Personal appearance <br>     ■ Confirmed appointment   <br>  ■ No need to submit a passport size photo   <br>
        ■ Duly accomplished application form – may be downloaded from the DFA website, www.dfa.gov.ph <br>
        ■ Birth Certificate (BC) in Security Paper (SECPA) issued by the National Statistics Office (NSO) or Certified
        True Copy (CTC) of BC issued by the Local Civil Registrar (LCR) & duly authenticated by NSO. Transcribed BC from
        the LCR is required when entries in NSO BC are blurred or unreadable. Report of Birth duly authenticated by NSO is
        required if born abroad. <br>

        ■ Valid picture IDs and supporting documents to prove identity (please refer to the List of Acceptable IDs & Supporting Documents below)<br>
        In Case of No Birth Record: If born in or after 1950 (January 1, 1950 or after):<br>
        ■ Apply for the delayed registration of birth at the local civil
        registry office located at the place of birth of applicant <br>
        ■ Submit authenticated Birth Certificate from NSO and supporting public document/s
        upon the discretion of the processor or Consular Officer, with correct date and place of birth (i.e. Form 137, Voter’s Registration Record,
        Baptismal Certificate with readable dry seal or NCMF / OMA Certificate with photo and <br>
        readable dry seal, for Muslim applicants) If born before 1950 and below (December 31, 1949 and below): <br>
        ■ Certificate of Non-availability of Birth Record from NSO <br>

        ■ Notarized Joint Birth Affidavit of Two Disinterested Persons<br>
        ■ Any public document with correct full name, date and place of birth
        (i.e. Baptismal Certificate with readable dry seal or NCMF / OMA Certificate with photo and readable dry seal, for Muslim applicants)
        Additional Requirements For married women:<br>
        ■ Marriage Contract (MC) in Security Paper issued by NSO or original and photocopy of the Certified True Copy of MC
        issued by the Local Civil Registrar and duly authenticated by NSO. Transcribed MC from the LCR is required when entries in NSO MC
        are blurred or unreadable. Report of Marriage duly authenticated by NSO is required if married abroad.

    </div>
</div>